<div class="col-lg-4 col-md-6 awards-item filter-team">
    <div class="awards-wrap">
        <img src="assets/images/awards/2019-PC-Best-Skin.png" class="img-fluid" alt="">
        <div class="awards-info">
            <h4><strong>Porsche Clubsport Cup 2019</strong></h4>
            <p>Pintura mais Bonita (PTSims)</p><br>
            <div class="awards-links">
                <a href="assets/images/awards/2019-PC-Best-Skin.png"
                   data-gall="awardsGallery" class="venobox"
                   title="Resultado Pintura Mais Bonita - Porsche Clubsport Cup 2019"><i class="bx bx-image"></i></a>
            </div>
        </div>
    </div>
</div>