<div class="col-lg-4 col-md-6 awards-item filter-individual">
    <div class="awards-wrap">
        <img src="assets/images/awards/2019-PersonalidadeAnoPTSims.png" class="img-fluid" alt="">
        <div class="awards-info">
            <h4><strong>Personalidade Ano 2019</strong></h4>
            <p>Francisco Reis</p><br>
            <div class="awards-links">
                <a href="assets/images/awards/2019-PersonalidadeAnoPTSims.png"
                   data-gall="awardsGallery" class="venobox"
                   title="Resultado Personalidade Ano 2019"><i class="bx bx-image"></i></a>
            </div>
        </div>
    </div>
</div>