<div class="col-lg-4 col-md-6 awards-item filter-team">
    <div class="awards-wrap">
        <img src="assets/images/awards/2019-EquipaRevelacaoPTSims.png" class="img-fluid" alt="">
        <div class="awards-info">
            <h4><strong>Equipa Revelação 2019</strong></h4>
            <p>Berlitz Racing Team</p><br>
            <div class="awards-links">
                <a href="assets/images/awards/2019-EquipaRevelacaoPTSims.png"
                   data-gall="awardsGallery" class="venobox"
                   title="Resultado Equipa Revelação 2019"><i class="bx bx-image"></i></a>
            </div>
        </div>
    </div>
</div>