<div class="isotope-item" data-type="eventos">

    <figure class="snip1321">
      <img src="assets/images/pages/PTSims-ElkhartLakeShowcase2020-cover.png" 
           alt="Elkhart Lake Showcase 2020" />
      
      <figcaption>
        <span>Ver resultados</span>
        <a type="button"
           class="btn btn-success"
           data-lightbox="image-1"
           data-title="Elkhart Lake Showcase 2020 LMP1"
           href="assets/images/pages/PTSims-ElkhartLakeShowcase2020-result-LMP1.png"
        >Equipas LMP1</a>
        <a type="button"
           class="btn btn-success"
           data-lightbox="image-1"
           data-title="Elkhart Lake Showcase 2020 GTE"
           href="assets/images/pages/PTSims-ElkhartLakeShowcase2020-result-GTE.png"
        >Equipas GTE</a>
        
  
        <h4>Elkhart Lake Showcase</h4>
        <span>5 Agosto 2020</span>
  
      </figcaption>
    </figure>
  
  </div>
  
  
  <!--
  <div class="isotope-item" data-type="campeonatos">
    
      <figure class="snip1321">
        <img src="assets/images/pages/PTSims-RMHS2020-cover.png" 
             width="300"
             height="300"
             alt="4H Silverstone" />
          <figcaption>
            <a href="assets/images/pages/PTSims-RMHS2020-results.png"  
               data-lightbox="image-1"
               data-title="Ricardo Moreira Historic Series 2020"><i class="fa fa-eye"></i></a>
            
            <h4>Ricardo Moreira Historic Series 2020</h4>
            <span>8 Junho > 3 Agosto 2020</span>
          
          </figcaption>
        </figure>
    
    </div>
  
  -->
  