<div class="isotope-item" data-type="eventos">

    <figure class="snip1321">
      <img src="assets/images/pages/PTSims-SE-dtm-grc-cover.png" 
           alt="DTM / Gr.C Vintage 2020" />
      
      <figcaption>
        <span>Ver resultados</span>
        <a type="button"
           class="btn btn-success"
           data-lightbox="image-1"
           data-title="DTM / Gr.C Vintage 2020"
           href="assets/images/pages/PTSims-SE-dtm-grc-result-teams.png"
        >Equipas</a>
        <a type="button"
           class="btn btn-success"
           data-lightbox="image-1"
           data-title="DTM / Gr.C Vintage 2020"
           href="assets/images/pages/PTSims-SE-dtm-grc-result-dtm.png"
        >DTM</a>
        <a type="button"
           class="btn btn-success"
           data-lightbox="image-1"
           data-title="DTM / Gr.C Vintage 2020"
           href="assets/images/pages/PTSims-SE-dtm-grc-result-grc.png"
        >Gr. C</a>
        
  
        <h4>DTM / Gr.C Vintage</h4>
        <span>23 Abril 2020</span>
  
      </figcaption>
    </figure>
  
  </div>