<div class="isotope-item" data-type="eventos">

  <figure class="snip1321">
    <img src="assets/images/pages/PTSims-SE-4h-silverstone-cover.png" 
         alt="4H Silverstone 2020" />
    
    <figcaption>
      <span>Ver resultados</span>
      <a type="button"
         class="btn btn-success"
         data-lightbox="image-1"
         data-title="4H Silverstone 2020"
         href="assets/images/pages/PTSims-SE-4h-silverstone-result-teams.png"
      >Equipas</a>
      

      <h4>4H Silverstone 2020</h4>
      <span>22 Agosto 2020</span>

    </figcaption>
  </figure>

</div>