<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="team name" content="{{ site.team-name }}" />
<meta name="description" content="{{ site.subtitle }}" />
<meta name="team contact" content="{{ site.team-contact }}" />
<meta name="author" content="{{ site.author }}" />
<meta name="author contact" content="{{ site.author-contact }}" />
<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet" />

<title>{{ site.title }}</title>

<link href="assets/css/vars.css" rel="stylesheet" />
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

<!-- Additional CSS Files -->
<link rel="stylesheet" href="assets/css/fontawesome.css" />
<link rel="stylesheet" href="assets/css/style.css" />
<link rel="stylesheet" href="assets/css/owl.css" />
<link rel="stylesheet" href="assets/css/lightbox.css" />