<!-- ======= Header ======= -->
<header id="header" class="d-flex flex-column justify-content-center">

    <nav class="nav-menu">
      <ul>
         <li class="active"><a href="#hero"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="#about-us"><i class="bx bx-user"></i> <span>Quem Somos</span></a></li>
        <li><a href="#members"><i class="bx bxs-user-detail"></i> <span>Membros</span></a></li>
        <li><a href="#calendar"><i class="bx bx-calendar"></i> <span>Próximos Campeonatos</span></a></li>
        <li><a href="#results"><i class="bx bx-bar-chart-alt-2"></i> <span>Resultados</span></a></li>
        <li><a href="#awards"><i class="bx bx-trophy"></i> <span>Prémios</span></a></li>
        <!--<li><a href="#contact"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>-->
      </ul>
    </nav><!-- .nav-menu -->

    
</header><!-- End Header -->