<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="team name" content="{{ site.team-name }}" />
<meta name="description" content="{{ site.subtitle }}" />
<meta name="team contact" content="{{ site.team-contact }}" />
<meta name="author" content="{{ site.author }}" />
<meta name="author contact" content="{{ site.author-contact }}" />



<!-- Favicons -->
<link href="assets/images/struct/favicon.png" rel="icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=
                        Open+Sans:300,300i,400,400i,600,600i,700,700i|
                        Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|
                        Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" 
rel="stylesheet">

<link href="assets/css/vars.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="assets/css/youtube.css" rel="stylesheet">
<link href="assets/css/page-intro.css" rel="stylesheet">
<link href="assets/css/menu.css" rel="stylesheet">
<link href="assets/css/page-about-us.css" rel="stylesheet">
<link href="assets/css/page-members.css" rel="stylesheet">
<link href="assets/css/page-calendar.css" rel="stylesheet">
<link href="assets/css/page-results.css" rel="stylesheet">
<link href="assets/css/page-awards.css" rel="stylesheet">
<link href="assets/css/footer.css" rel="stylesheet">

<link href="assets/css/style.css" rel="stylesheet">





<!-- Vendor CSS Files -->
<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
<link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
<link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
<link href="assets/vendor/aos/aos.css" rel="stylesheet">





<title>{{ site.title }}</title>