<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
        <!--<h3>Brandon Johnson</h3>
        <p>Et aut eum quis fuga eos sunt ipsa nihil. Labore corporis magni eligendi fuga maxime saepe commodi placeat.</p>
        
        <div class="social-links">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>-->
        
        <div class="copyright">
            &copy; Copyright <strong><span>{{ site.team-name }}</span></strong> . All Rights Reserved
        </div>
        
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: [license-url] -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/ 
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>-->
        </div>
        
    </div>
</footer><!-- End Footer -->