<section id="hero" class="d-flex flex-column justify-content-center">
    
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
        
        <h1 class="homeTitle">{{ site.team-name }}</h1>
        <p>. <span class="typed" data-typed-items="{{site.description}}"></span> .</p>
        
        <div class="iframe-container">
            <iframe 
                width="400"
                height="400"
                src="https://www.youtube.com/embed/1gMA51K5y5Y?controls=0?autoplay=1"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture">
            </iframe>
        </div>

        <div class="social-links">
            <a href="https://www.facebook.com/BerlitzRacingTeam" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="youtube"><i class="bx bxl-youtube"></i></a>
        </div>

    </div>

</section>