<section id="about-us" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Quem Somos</h2>
            <p>Equipa de SimRacing fundada por diversão em 2005 pelo <i>Pedro Lebre</i> à qual se juntou, em 2007, <i>Fernando Reis</i>.<br><br>
            Ao longo dos anos mantiveram a equipa em atividade tendo participado em várias provas em comunidades nacionais e internacionais. 
            Em 2018 juntou-se o Francisco Reis e, desde então, os objetivos da equipa passaram a ser mais ambiciosos, procurando novos pilotos com o 
            objetivo de participar nos vários simuladores e tipos de corridas, tornando assim o grupo mais competitivo. A sua actividade recente tem-se 
            centrado na comunidade <i>PTSims</i> tendo obtido alguns resultados importantes.
        
        </div>

        <div class="row">
            <div class="col-lg-4">
                <img src="assets/images/struct/logo_brancoSemFundo.png" class="img-fluid" alt="">
            </div>

            <div class="col-lg-8 pt-4 pt-lg-0 content">
                <h3>A equipa é composta atualmente por</h3>
                
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="icofont-rounded-right"></i> Pedro <strong>LEBRE</strong></li>
                            <li><i class="icofont-rounded-right"></i> Fernando <strong>REIS</strong></li>
                            <li><i class="icofont-rounded-right"></i> Francisco <strong>REIS</strong></li>
                            <li><i class="icofont-rounded-right"></i> André <strong>BARBOSA</strong></li>
                            <li><i class="icofont-rounded-right"></i> João <strong>CAVACA</strong></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="icofont-rounded-right"></i> Tadeu <strong>SOARES</strong></li>
                            <li><i class="icofont-rounded-right"></i> Miguel <strong>ROSA</strong></li>
                            <li><i class="icofont-rounded-right"></i> Rúben <strong>PEREIRA</strong></li>
                            <li><i class="icofont-rounded-right"></i> Paulo <strong>FRAGA</strong></li>
                            <li><i class="icofont-rounded-right"></i> Fábio <strong>AZEVEDO</strong></li>
                            <li><i class="icofont-rounded-right"></i> Pedro <strong>Lopes</strong></li>
                        </ul>
                    </div>
                </div>
                <p>.</p>
            </div>
        </div>

    </div>
</section>