<section id="results" class="portfolio section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Resultados</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                consectetur velit.
                Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste
                officiis commodi quidem hic quas.</p>
        </div>


        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">Todos</li>
                    <li data-filter=".filter-event">Eventos</li>
                    <li data-filter=".filter-championship">Campeonatos</li>
                    <li data-filter=".filter-endurance">Endurance</li>
                </ul>
            </div>
        </div>




        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

            
            {% include results/2021/SE-14APTS.html %}
            {% include results/2021/RCS.html %}
            {% include results/2021/TCS.html %}
            {% include results/2021/STI.html %}
            {% include results/2021/CPVV.html %}
            {% include results/2021/H3LC.html %}
            {% include results/2021/SE-H1.html %}
            {% include results/2021/EC-Imola.html %}
            {% include results/2021/EC-Kyalami.html %}
            {% include results/2021/VBTCCC.html %}
            {% include results/2021/AGT1C.html %}
            {% include results/2021/RS.html %}
            
            {% include results/2020/SE-ND150.html %}
            {% include results/2020/SE-VLM.html %}
            {% include results/2020/SE-RN.html %}
            {% include results/2020/SG-24B.html %}
            {% include results/2020/SE-FGC.html %}
            {% include results/2020/GTS2020.html %}
            {% include results/2020/GT4SC.html %}
            {% include results/2020/SE-4HS.html %}
            {% include results/2020/SE-ELS.html %}
            {% include results/2020/RMHS.html %}
            {% include results/2020/GT3C.html %}
            {% include results/2020/REM.html %}
            {% include results/2020/SE-13APTS.html %}
            {% include results/2020/SE-DTM-GRC.html %}
            {% include results/2020/FS.html %}


        </div>

    </div>
</section>