<!-- ======= Calendar Section ======= -->
<section id="calendar" class="calendar">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Próximos Campeonatos</h2>
            <p>Provas que compõe o calendário para 2021.</p>
        </div>

        <div class="row">

            <div class="col-lg-6 col-md-6" data-aos="zoom-in" data-aos-delay="100">
                <img src="assets/images/results/2021/PTSims-RMHS-cover.png" alt="Ricardo Moreira Historic Series 2021" />
            </div>

            <div class="col-lg-6 col-md-6" data-aos="zoom-in" data-aos-delay="100">
                <img src="assets/images/results/2021/PTSims-GBLC-cover.png" alt="Group B Legends Championship" />
            </div>

            <div class="col-lg-6 col-md-6" data-aos="zoom-in" data-aos-delay="100">
                <img src="assets/images/results/2021/PTSims-BGT4C-cover.png" alt="British GT4 Championship" />
            </div>
            
            <div class="col-lg-6 col-md-6" data-aos="zoom-in" data-aos-delay="100">
                <img src="assets/images/results/2021/PTSims-RCS-cover.png" alt="Rallycross Championship series" />
            </div>

            


        </div>

    </div>
</section>