<section id="awards" class="awards section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Prémios</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                consectetur velit.
                Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste
                officiis commodi quidem hic quas.</p>
        </div>


        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
                <ul id="awards-flters">
                    <li data-filter="*" class="filter-active">Todos</li>
                    <li data-filter=".filter-individual">Individuais</li>
                    <li data-filter=".filter-team">Coletivos</li>
                </ul>
            </div>
        </div>




        <div class="row awards-container" data-aos="fade-up" data-aos-delay="200">

            
            {% include awards/2018-PilotoRevelacaoPTSims.html %}
            {% include awards/2019-PersonalidadeAnoPTSims.html %}
            {% include awards/2019-EquipaRevelacaoPTSims.html %}
            {% include awards/2020-FS2020-MelhorSkinPTSims.html %}
            {% include awards/2019-PCC-MelhorSkinPTSims.html %}
            {% include awards/2020-PilotoRevelacaoPTSims.html %}






            <!-- DEMO 
            <div class="col-lg-4 col-md-6 awards-item filter-web">
                <div class="awards-wrap">
                    <img src="assets/images/struct/logo.png" class="img-fluid" alt="">
                    <div class="awards-info">
                        <h4> </h4>
                        <p> </p>
                        <div class="awards-links">
                            <a href="#" data-gall="awardsGallery" class="venobox"
                                title=""><i class="bx bx-plus"></i></a>
                            <a href="#" data-gall="awardsDetailsGallery" data-vbtype="iframe"
                                class="venobox" title=""><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>-->

        </div>

    </div>
</section>