<!-- ======= Members Section ======= -->
<section id="members" class="members">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Membros</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit
                sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias
                ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-6 align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box iconbox-blue">
                    <img 
                        src="assets/images/struct/members/PedroLebre.jpg"
                        alt="Foto Pedro" />
                    <h4>Pedro <strong>Lebre</strong></h4>
                    <p>Fundador da equipa</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box iconbox-blue">
                    <img 
                        src="assets/images/struct/members/FernandoReis.jpg"
                        alt="Foto Fernado" />
                    <h4>Fernando <strong>Reis</strong></h4>
                    <p>Co-Fundador da equipa</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box iconbox-blue">
                    <img 
                        src="assets/images/struct/members/FranciscoReis.jpg"
                        alt="Foto Francisco" />
                    <h4>Francisco <strong>Reis</strong></h4>
                    <p>Piloto & Team Manager</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box iconbox-blue">
                    <img 
                        src="assets/images/struct/members/JoaoCavaca.jpg"
                        alt="Foto João" />
                    <h4>João <strong>Cavaca</strong></h4>
                    <p>Piloto & Engineer</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box iconbox-blue">
                    <img 
                        src="assets/images/struct/members/TadeuSoares.jpg"
                        alt="Foto Tadeu" />
                    <h4>Tadeu <strong>Soares</strong></h4>
                    <p>Piloto</p>
                </div>
            </div> 

            <div class="col-lg-4 col-md-6 align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box iconbox-blue">
                    <img 
                        src="assets/images/struct/members/AndreBarbosa.jpg"
                        alt="Foto Tadeu" />
                    <h4>André <strong>Barbosa</strong></h4>
                    <p>Piloto</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box iconbox-blue">
                    <img 
                        src="assets/images/struct/members/RubenPereira.jpg"
                        alt="Foto Rúben" />
                    <h4>Rúben <strong>Pereira</strong></h4>
                    <p>Piloto</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box iconbox-blue">
                    <img 
                        src="assets/images/struct/members/MiguelRosa.jpg"
                        alt="Foto Miguel" />
                    <h4>Miguel <strong>Rosa</strong></h4>
                    <p>Piloto</p>
                </div>
            </div> 

            <div class="col-lg-4 col-md-6 align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box iconbox-blue">
                    <img 
                        src="assets/images/struct/logo_pretoFundoBranco.png"
                        alt="Foto Paulo" />
                    <h4>Paulo <strong>Fraga</strong></h4>
                    <p>Piloto</p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box iconbox-blue">
                    <img
                        src="assets/images/struct/logo_pretoFundoBranco.png" 
                        alt="Foto Fábio" />
                    <h4>Fábio <strong>Azevedo</strong></h4>
                    <p>Piloto</p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box iconbox-blue">
                    <img
                        src="assets/images/struct/logo_pretoFundoBranco.png" 
                        alt="Foto Pedro" />
                    <h4>Pedro <strong>Lopes</strong></h4>
                    <p>Piloto</p>
                </div>
            </div>

        </div>

    </div>
</section>