
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
  }
  
  .nav-menu a {
    display: flex;
    align-items: center;
    color: var(--menu-item-text-color);
    padding: 10px 18px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
    border-radius: 50px;
    background: var(--menu-item-background-color);
    height: 56px;
    width: 100%;
    overflow: hidden;
    transition: 0.3s;
    text-decoration: none;
  }
  
  .nav-menu a i {
    font-size: 20px;
    text-decoration: none;
  }
  
  .nav-menu a span {
    padding: 0 5px 0 7px;
    text-decoration: none;
    color: var(--menu-item-text-color);
  }
  
  @media (min-width: 992px) {
    .nav-menu a {
      width: 56px;
    }
    .nav-menu a span {
      display: none;
      color: #fff;
    }
  }
  
  .nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: #fff;
    background: var(--global-item-active);
    text-decoration: none;
  }
  
  .nav-menu a:hover span, .nav-menu .active > a span, .nav-menu li:hover > a span {
    color: #fff;
    text-decoration: none;
  }
  
  .nav-menu a:hover, .nav-menu li:hover > a {
    width: 100%;
    color: #fff;
    text-decoration: none;
  }
  
  .nav-menu a:hover span, .nav-menu li:hover > a span {
    display: block;
    text-decoration: none;
  }
  
  /* Mobile Navigation */
  .mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
    text-decoration: none;
  }
  
  .mobile-nav-toggle i {
    color: var(--menu-item-text-color);
  }
  
  .mobile-nav-active {
    overflow: hidden;
  }
  
  .mobile-nav-active #header {
    left: 0;
  }
  
  .mobile-nav-active .mobile-nav-toggle i {
    color: var(--global-item-active);
  }