/*--------------------------------------------------------------
# Page Calendar
--------------------------------------------------------------*/
.calendar .icon-box {
  text-align: center;
  padding: 70px 20px 80px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
  box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05);
}

.calendar .icon-box .icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
}

.calendar .icon-box h4 {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 22px;
}

.calendar .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.calendar img {
  width: 100%;
  height: 90%;
}

.calendar .content p:last-child {
  margin-bottom: 40%;
  color: var(--global-text-color);
}
