/*--------------------------------------------------------------
# awards
--------------------------------------------------------------*/
.awards .awards-item {
    margin-bottom: 30px;
  }
  
  .awards #awards-flters {
    padding: 0;
    margin: 0 auto 25px auto;
    list-style: none;
    text-align: center;
    background: #fff;
    border-radius: 50px;
    padding: 2px 15px;
  }
  
  .awards #awards-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #272829;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
  }
  
  .awards #awards-flters li:hover,
  .awards #awards-flters li.filter-active {
    color: var(--global-item-active);
  }
  
  .awards #awards-flters li:last-child {
    margin-right: 0;
  }
  
  .awards .awards-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: rgba(69, 80, 91, 0.8);
  }
  
  .awards .awards-wrap::before {
    content: "";
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
  }
  
  .awards .awards-wrap .awards-info {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .awards .awards-wrap .awards-info::before {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    top: 35px;
    left: 35px;
    border-top: 3px solid #d7dce1;
    border-left: 3px solid #d7dce1;
    transition: all 0.5s ease 0s;
    z-index: 9994;
  }
  
  .awards .awards-wrap .awards-info::after {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 35px;
    right: 35px;
    border-bottom: 3px solid #d7dce1;
    border-right: 3px solid #d7dce1;
    transition: all 0.5s ease 0s;
    z-index: 9994;
  }
  
  .awards .awards-wrap .awards-info h4 {
    font-size: 20px;
    color: var(--menu-item-text-color);
    font-weight: 600;
  }
  
  .awards .awards-wrap .awards-info p {
    color: var(--menu-item-text-color);
    font-size: 14px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
  }
  
  .awards .awards-wrap .awards-links {
    text-align: center;
    z-index: 4;
  }
  
  .awards .awards-wrap .awards-links a {
    color: var(--menu-item-text-color);
    margin: 0 2px;
    font-size: 28px;
    display: inline-block;
    transition: 0.3s;
  }
  
  .awards .awards-wrap .awards-links a:hover {
    color: #148af9;
  }
  
  .awards .awards-wrap:hover::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
  }
  
  .awards .awards-wrap:hover .awards-info {
    opacity: 1;
  }
  
  .awards .awards-wrap:hover .awards-info::before {
    top: 15px;
    left: 15px;
  }
  
  .awards .awards-wrap:hover .awards-info::after {
    bottom: 15px;
    right: 15px;
  }
  
  .awards .content p:last-child {
    margin-bottom: 40%;
    color: var(--global-text-color);
  }
  