/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
    font-weight: 700;
    font-size: 24px;
    color: var(--global-text-color);
  }
  
  .about .content ul {
    list-style: none;
    padding: 0;
    color: var(--global-text-color);
  }
  
  .about .content ul li {
    padding-bottom: 10px;
    color: var(--global-text-color);
  }
  
  .about .content ul i {
    font-size: 20px;
    padding-right: 2px;
    color: var(--global-item-active);
  }

  .about .content p h2{
    color: var(--global-text-color) !important;
  }
  
  .about .content p:last-child {
    margin-bottom: 40%;
    color: var(--global-text-color);
  }


