/*--------------------------------------------------------------
# Hero Section

#hero {
    width: 100%;
    height: 100vh;
    background: url("../images/struct/background.jpg") top right no-repeat;
    background-size: cover;
    position: relative;
  }
--------------------------------------------------------------*/
@media (min-width: 992px) {
  #hero {
    padding-left: 160px;
  }
}

#hero:before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');
#hero h1 {
  font-family: "Titillium Web", sans-serif !important;
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  text-align: center;
  color: var(--page-intro-title);
}

#hero p {
  color: var(--page-intro-title);
  margin: 15px 0 0 0;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-bottom: 1em;
}

#hero p span {
  color: var(--page-intro-blue);
  letter-spacing: 1px;
}

#hero .social-links {
  margin-top: 30px;
  text-align: end;
}

#hero .social-links a {
  font-size: 24px;
  display: inline-block;
  color: var(--page-intro-title);
  line-height: 1;
  margin-right: 20px;
  transition: 0.3s;
}

#hero .social-links a:hover {
  color: var(--page-intro-blue);
}

@media (max-width: 992px) {
  #hero {
    text-align: center;
  }
  #hero h1 {
    font-size: 32px;
    line-height: 36px;
  }
  #hero p {
    margin-top: 10px;
    font-size: 20px;
    line-height: 24px;
  }
}
