:root{
    --background-black-fade: rgba(0, 0, 0, 0.322);
    --global-text-color: #ffffff;
    --global-item-active: #0563bb;


    
    --menu-item-text-color: #45505b;
    --menu-item-background-color: #f2f3f5;

    /* Page Intro */
    --page-intro-title: #ffffff;
    --page-intro-social: #0678e3;
    --page-intro-blue: #0563bb;


    /* Page About Us */
    --page-about-text-color: #ffffff;
}
