<div class="col-lg-4 col-md-6 portfolio-item filter-endurance">
    <div class="portfolio-wrap">
        <img src="assets/images/results/2021/PTSims-EC-Kyalami-cover.png" class="img-fluid" alt="">
        <div class="portfolio-info">
            <h4><strong>Endurance Cup 2021</strong></h4>
            <p>Jan. > Dez. 2021</p><br>
            <div class="portfolio-links">
                <a href="assets/images/results/2021/PTSims-EC-Kyalami-cover.png"
                   data-gall="portfolioGallery" class="venobox" title="Capa"><i class="bx bx-image"></i></a>
                <a href="assets/images/results/2021/PTSims-EC-Kyalami-result-teams.png"
                   data-gall="portfolioGallery" class="venobox" title="Resultado Equipas"><i class="bx bx-trophy"></i></a>
                <a href="assets/images/results/2021/PTSims-EC-Kyalami-result-pilots.png"
                   data-gall="portfolioGallery" class="venobox" title="Resultado Pilotos"><i class="bx bx-bar-chart-alt-2"></i></a>
            </div>
        </div>
    </div>
</div>