<div class="col-lg-4 col-md-6 portfolio-item filter-championship">
    <div class="portfolio-wrap">
        <img src="assets/images/results/2021/PTSims-LCRally-cover.png" class="img-fluid" alt="">
        <div class="portfolio-info">
            <h4><strong>H3 Legends Championship 2021</strong></h4>
            <p>30 Mar. > 9 Maio 2021</p><br>
            <div class="portfolio-links">
                <a href="assets/images/results/2021/PTSims-LCRally-cover.png"
                   data-gall="portfolioGallery" class="venobox" title="Capa"><i class="bx bx-image"></i></a>
                <a href="#"
                   data-gall="portfolioGallery" class="venobox" 
                   title="Resultado Equipas"><i class="bx bx-trophy"></i></a>
                <a href="#"
                   data-gall="portfolioGallery" class="venobox" 
                   title="Resultado Pilotos"><i class="bx bx-bar-chart-alt-2"></i></a>
            </div>
        </div>
    </div>
</div>