<div class="col-lg-4 col-md-6 portfolio-item filter-event">
    <div class="portfolio-wrap">
        <img src="assets/images/results/2021/PTSims-SE-14AniversarioPTSims-cover.png" class="img-fluid" alt="">
        <div class="portfolio-info">
            <h4><strong>SE: 14º Aniversário PTSims</strong></h4>
            <p>17 Maio 2021</p><br>
            <div class="portfolio-links">
                <a href="assets/images/results/2021/PTSims-SE-14AniversarioPTSims-cover.png"
                   data-gall="portfolioGallery" class="venobox"
                   title="Resultado Equipas"><i class="bx bx-image"></i></a>
                <a href="assets/images/results/2021/PTSims-SE-14AniversarioPTSims-result-teams.png"
                   data-gall="portfolioGallery" class="venobox" 
                   title="Resultado Equipas"><i class="bx bx-trophy"></i></a>
                <a href="assets/images/results/2021/PTSims-SE-14AniversarioPTSims-result-pilots.png"
                   data-gall="portfolioGallery" class="venobox" 
                   title="Resultado Pilotos"><i class="bx bx-bar-chart-alt-2"></i></a>
            </div>
        </div>
    </div>
</div>