<i class="fa fa-bars" id="menu-toggle"></i>
<div id="menu" class="menu">
    <i class="fa fa-times" id="menu-close"></i>
    <div class="container">
        <div class="image">
            <a href="#"><img src="assets/images/struct/logo.png" alt="" /></a>
        </div>
        <div class="author-content">
            <h4>{{ site.team-name }}</h4>
            <span>{{ site.subtitle }}</span>
        </div>
        
        {% include sidebar/sidebar-menu.html %}
        {% include sidebar/sidebar-social.html %}
        {% include sidebar/sidebar-footer.html %}

    </div>
</div>