<div class="social-network">
    
    <ul class="soial-icons">
        <li>
            <a href="https://www.facebook.com/BerlitzRacingTeam"><i class="fa fa-facebook"></i></a>
        </li>
        <li>
            <a href="#"><i class="fa fa-youtube"></i></a>
        </li>
        <!--<li>
            <a href="#"><i class="fa fa-linkedin"></i></a>
        </li>
        <li>
            <a href="#"><i class="fa fa-dribbble"></i></a>
        </li>-->
        <li>
            <a href="mailto:{{ site.team-contact }}"><i class="fa fa-envelope"></i></a>
        </li>
        <li>
            <a href="#"><i class="fa fa-rss"></i></a>
        </li>
    </ul>


</div>