<nav class="main-nav" role="navigation">
    
    <ul class="main-menu">
        <li><a href="#section-intro">Início</a></li>
        <li><a href="#section-about-us">Quem Somos</a></li>
        <li><a href="#section-members">Membros</a></li>
        <li><a href="#section-calendar">Campeonatos Ativos</a></li>
        <li><a href="#section-results">Resultados</a></li>
    </ul>


</nav>