<div class="isotope-item" data-type="campeonatos">

    <figure class="snip1321">
      <img src="assets/images/pages/PTSims-GT3C2020-cover.png" 
           alt="GT3 Challenge 2020" />
      
      <figcaption>
        <span>Ver resultados</span>
        <a type="button"
           class="btn btn-success"
           data-lightbox="image-1"
           data-title="GT3 Challenge 2020"
           href="assets/images/pages/PTSims-GT3C2020-result-teams.png"
        >Equipas</a>
        <a type="button"
           class="btn btn-success"
           data-lightbox="image-1"
           data-title="GT3 Challenge 2020"
           href="assets/images/pages/PTSims-GT3C2020-result-pilots.png"
        >Pilotos</a>
        
  
        <h4>GT3 Challenge 2020</h4>
        <span>6 Abril > 11 Maio 2020</span>
  
      </figcaption>
    </figure>
  
  </div>
