<div class="isotope-item" data-type="campeonatos">

  <figure class="snip1321">
    <img src="assets/images/pages/PTSims-REM2020-cover.png" 
         alt="Radical European Masters 2020" />
    
    <figcaption>
      <span>Ver resultados</span>
      <a type="button"
         class="btn btn-success"
         data-lightbox="image-1"
         data-title="Radical European Masters 2020"
         href="assets/images/pages/PTSims-REM2020-result-teams.png"
      >Equipas</a>
      <a type="button"
         class="btn btn-success"
         data-lightbox="image-1"
         data-title="Radical European Masters 2020"
         href="assets/images/pages/PTSims-REM2020-result-pilots.png"
      >Pilotos</a>
      

      <h4>Radical European Masters 2020</h4>
      <span>2 Julho > 30 Julho 2020</span>

    </figcaption>
  </figure>

</div>


<!--
<div class="isotope-item" data-type="campeonatos">
  
    <figure class="snip1321">
      <img src="assets/images/pages/PTSims-RMHS2020-cover.png" 
           width="300"
           height="300"
           alt="4H Silverstone" />
        <figcaption>
          <a href="assets/images/pages/PTSims-RMHS2020-results.png"  
             data-lightbox="image-1"
             data-title="Ricardo Moreira Historic Series 2020"><i class="fa fa-eye"></i></a>
          
          <h4>Ricardo Moreira Historic Series 2020</h4>
          <span>8 Junho > 3 Agosto 2020</span>
        
        </figcaption>
      </figure>
  
  </div>

-->
