<div class="col-lg-4 col-md-6 portfolio-item filter-championship">
    <div class="portfolio-wrap">
        <img src="assets/images/results/2020/PTSims-GTS2020-cover.png" class="img-fluid" alt="">
        <div class="portfolio-info">
            <h4><strong>GT Series 2020</strong></h4>
            <p>17 Set. > 26 Nov. 2020</p><br>
            <div class="portfolio-links">
                <a href="assets/images/results/2020/PTSims-GTS2020-cover.png"
                   data-gall="portfolioGallery" class="venobox" title="Capa"><i class="bx bx-image"></i></a>
                <a href="assets/images/results/2020/PTSims-GTS2020-result-teams.png"
                   data-gall="portfolioGallery" class="venobox" title="Resultado Equipas"><i class="bx bx-trophy"></i></a>
                <a href="assets/images/results/2020/PTSims-GTS2020-result-pilots.png"
                   data-gall="portfolioGallery" class="venobox" title="Resultado Pilotos"><i class="bx bx-bar-chart-alt-2"></i></a>
            </div>
        </div>
    </div>
</div>