<div class="col-lg-4 col-md-6 portfolio-item filter-event">
    <div class="portfolio-wrap">
        <img src="assets/images/results/2020/PTSims-SE-dtm-grc-cover.png" class="img-fluid" alt="">
        <div class="portfolio-info">
            <h4><strong>SE: DTM / Gr.C Vintage</strong></h4>
            <p>23 Abr. 2020</p><br>
            <div class="portfolio-links">
                <a href="assets/images/results/2020/PTSims-SE-dtm-grc-cover.png"
                   data-gall="portfolioGallery" class="venobox" title="Capa"><i class="bx bx-image"></i></a>
                <a href="assets/images/results/2020/PTSims-SE-dtm-grc-result-dtm.png"
                   data-gall="portfolioGallery" class="venobox" title="Resultado DTM"><i class="bx bx-bar-chart-alt-2"></i></a>
                <a href="assets/images/results/2020/PTSims-SE-dtm-grc-result-grc.png"
                   data-gall="portfolioGallery" class="venobox" title="Resultado Gr. C"><i class="bx bx-bar-chart-alt-2"></i></a>
                <a href="assets/images/results/2020/PTSims-SE-dtm-grc-result-teams.png"
                   data-gall="portfolioGallery" class="venobox" title="Resultado Equipas"><i class="bx bx-trophy"></i></a>
            </div>
        </div>
    </div>
</div>