<div class="col-lg-4 col-md-6 portfolio-item filter-event">
    <div class="portfolio-wrap">
        <img src="assets/images/results/2020/PTSims-SE-ElkhartLakeShowcase2020-cover.png" class="img-fluid" alt="">
        <div class="portfolio-info">
            <h4><strong>SE: Elkhart Lake Showcase</strong></h4>
            <p>5 Ago. 2020</p><br>
            <div class="portfolio-links">
                <a href="assets/images/results/2020/PTSims-SE-ElkhartLakeShowcase2020-cover.png"
                   data-gall="portfolioGallery" class="venobox" title="Capa"><i class="bx bx-image"></i></a>
                <a href="assets/images/results/2020/PTSims-SE-ElkhartLakeShowcase2020-result-GTE.png"
                   data-gall="portfolioGallery" class="venobox" title="Resultado GTE"><i class="bx bx-bar-chart-alt-2"></i></a>
                <a href="assets/images/results/2020/PTSims-SE-ElkhartLakeShowcase2020-result-LMP1.png"
                   data-gall="portfolioGallery" class="venobox" title="Resultado LMP1"><i class="bx bx-bar-chart-alt-2"></i></a>
            </div>
        </div>
    </div>
</div>