<div class="col-lg-4 col-md-6 portfolio-item filter-event">
    <div class="portfolio-wrap">
        <img src="assets/images/results/2020/PTSims-SE-Flanders-cover.png" class="img-fluid" alt="">
        <div class="portfolio-info">
            <h4><strong>SE: Flanders GT Challenge</strong></h4>
            <p>9 Dez. 2020</p><br>
            <div class="portfolio-links">
                <a href="assets/images/results/2020/PTSims-SE-Flanders-cover.png"
                   data-gall="portfolioGallery" class="venobox"
                   title="Resultado Equipas"><i class="bx bx-image"></i></a>
                <a href="assets/images/results/2020/PTSims-SE-Flanders-result-GT3.png"
                   data-gall="portfolioGallery" class="venobox"
                   title="Resultado GT3"><i class="bx bx-bar-chart-alt-2"></i></a>
                <a href="assets/images/results/2020/PTSims-SE-Flanders-result-GT4.png"
                   data-gall="portfolioGallery" class="venobox"
                   title="Resultado GT4"><i class="bx bx-bar-chart-alt-2"></i></a>
            </div>
        </div>
    </div>
</div>