<div class="col-lg-4 col-md-6 portfolio-item filter-event">
    <div class="portfolio-wrap">
        <img src="assets/images/results/2020/PTSims-SE-RallyNatal-cover.png" class="img-fluid" alt="">
        <div class="portfolio-info">
            <h4><strong>SE: Rally Natal</strong></h4>
            <p>8 - 13 Dez. 2020</p><br>
            <div class="portfolio-links">
                <a href="assets/images/results/2020/PTSims-SE-RallyNatal-cover.png"
                   data-gall="portfolioGallery" class="venobox"
                   title="Resultado Equipas"><i class="bx bx-image"></i></a>
                <a href="assets/images/results/2020/PTSims-SE-RallyNatal-result-pilots.png"
                   data-gall="portfolioGallery" class="venobox"
                   title="Resultado Pilotos"><i class="bx bx-bar-chart-alt-2"></i></a>
            </div>
        </div>
    </div>
</div>