<!DOCTYPE html>
<html lang="pt">

<head>
    {% include page_head.html %}
</head>

<body>
    <div id="page-wraper">
        <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

        {% include page_menu.html %}

        
        <main id="main">
            {% include pages/page_index.html %}
            {% include pages/page_about-us.html %}
            {% include pages/page_members.html %}
            {% include pages/page_calendar.html %}
            {% include pages/page_results.html %}
            {% include pages/page_awards.html %}

        </main><!-- End #main -->



        {% include page_footer.html %}

        <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
        <div id="preloader"></div>

        {% include page_jsBottom.html %}
    </div>
</body>

</html>