<section class="section about-me" data-section="section-about-us">
    <div class="container">
      <div class="section-heading">
        <h2>Quem Somos</h2>
        <div class="line-dec"></div>
        <span>Equipa de SimRacing fundada por diversão em 2005 pelo <i>Pedro Lebre</i> à qual se juntou, em 2007, <i>Fernando Reis</i>.
        <br>Ao longo dos anos mantiveram a equipa em atividade tendo participado em várias provas em comunidades nacionais e internacionais. 
        Em 2018 juntou-se o Francisco Reis e, desde então, os objetivos da equipa passaram a ser mais ambiciosos, procurando novos pilotos com o 
        objetivo de participar nos vários simuladores e tipos de corridas, tornando assim o grupo mais competitivo. A sua actividade recente tem-se 
        centrado na comunidade <i>PTSims</i> tendo obtido alguns resultados importantes. 
        </span>
      </div>

      <div class="left-image-post">
        <div class="row">
          <div class="col-md-6">
            <div class="left-image">
              <img src="assets/images/struct/logo.png" alt="Logo" />
            </div>
          </div>
          
          <div class="col-md-6">
            <div class="right-text">
              <h4>A equipa é composta atualmente por:</h4>
              <p>
                xxxxxxx xxxx xxx xxxxxx xxx xxx xxxx xxxx xxx xxxxx xxxx xxxx xxxx
              </p>
              
            </div>
          </div>

        </div>
      </div>

      

    </div>
  </section>