<section class="section about-me" data-section="section-intro">
    <div class="container">

        <div class="section-heading">
            <h2>{{ site.team-name }}</h2>
            <div class="line-dec"></div>
            <span>This is a Bootstrap v4.2.1 CSS Template for you. Edit and use this layout for your site. Updated on 21
                May 2019 for repeated main menu HTML code.</span>
        </div>

        <div class="left-image-post">
            <div class="row">
                <div class="col-md-12 iframe-container">
                    <iframe 
                        width="400" 
                        height="400"
                        src="https://www.youtube.com/embed/1gMA51K5y5Y?controls=0?autoplay=1" 
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture">
                    </iframe>
                    <!--<div class="left-image "></div>-->
                </div>
            </div>
        </div>

    </div>
</section>