<section class="section my-services" data-section="section-members">
    <div class="container">
      <div class="section-heading">
        <h2>Membros</h2>
        <div class="line-dec"></div>
        <span>Curabitur leo felis, rutrum vitae varius eu, malesuada a tortor.
          Vestibulum congue leo et tellus aliquam, eu viverra nulla semper.
          Nullam eu faucibus diam. Donec eget massa ante.</span>
      </div>
      
      <div class="row"> <!-- <img src="assets/images/struct/logo.png" alt="Logo" /> -->
        
        <div class="col-md-6">
          <div class="service-item">
            <img src="assets/images/struct/members/PedroLebre.jpg" alt="Logo" />
            <h4>Pedro Lebre</h4>
            <p>Phasellus non convallis dolor. Integer tempor hendrerit arcu
              at bibendum. Sed ac ante non metus vehicula congue quis eget
              eros.</p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="service-item">
            <img src="assets/images/struct/members/FernandoReis.jpg" alt="Logo" />
            <h4>Fernando Reis</h4>
            <p>Phasellus non convallis dolor. Integer tempor hendrerit arcu
                at bibendum. Sed ac ante non metus vehicula congue quis eget
                eros.</p>
          </div>
        </div>

        <div class="col-md-6">
            <div class="service-item">
                <img src="assets/images/struct/members/FranciscoReis.jpg" alt="Logo" />
                <h4>Francisco Reis</h4>
                <p>Proin lacus massa, eleifend sed fermentum in, dignissim vel
                metus. Nunc accumsan leo nec felis porttitor, ultricies
                faucibus purus mollis.</p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="service-item">
                <img src="assets/images/struct/members/JoaoCavaca.jpg" alt="Logo" />
                <h4>João Cavaca</h4>
                <p>Proin lacus massa, eleifend sed fermentum in, dignissim vel
                metus. Nunc accumsan leo nec felis porttitor, ultricies
                faucibus purus mollis.</p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="service-item">
                <img src="assets/images/struct/members/TadeuSoares.jpg" alt="Logo" />
                <h4>Tadeu Soares</h4>
                <p>Proin lacus massa, eleifend sed fermentum in, dignissim vel
                metus. Nunc accumsan leo nec felis porttitor, ultricies
                faucibus purus mollis.</p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="service-item">
                <img src="assets/images/struct/members/AndreBarbosa.jpg" alt="Logo" />
                <h4>André Barbosa</h4>
                <p>Proin lacus massa, eleifend sed fermentum in, dignissim vel
                metus. Nunc accumsan leo nec felis porttitor, ultricies
                faucibus purus mollis.</p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="service-item">
                <img src="assets/images/struct/members/RubenPereira.jpg" alt="Logo" />
                <h4>Rúben Pereira</h4>
                <p>Proin lacus massa, eleifend sed fermentum in, dignissim vel
                metus. Nunc accumsan leo nec felis porttitor, ultricies
                faucibus purus mollis.</p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="service-item">
                <img src="assets/images/struct/members/MiguelRosa.jpg" alt="Logo" />
                <h4>Miguel Rosa</h4>
                <p>Proin lacus massa, eleifend sed fermentum in, dignissim vel
                metus. Nunc accumsan leo nec felis porttitor, ultricies
                faucibus purus mollis.</p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="service-item">
                <img src="assets/images/struct/logo.png" alt="Logo" />
                <h4>Paulo Fraga</h4>
                <p>Proin lacus massa, eleifend sed fermentum in, dignissim vel
                metus. Nunc accumsan leo nec felis porttitor, ultricies
                faucibus purus mollis.</p>
            </div>
        </div>
        
      </div>
    </div>
  </section>