<section class="section my-work" data-section="section-results">
    <div class="container">
      <div class="section-heading">
        <h2>Resultados</h2>
        <div class="line-dec"></div>
        <span>Aenean sollicitudin ex mauris, lobortis lobortis diam euismod sit
          amet. Duis ac elit vulputate, lobortis arcu quis, vehicula mauris.</span>
      </div>

      <div class="row">
        
        <div class="isotope-wrapper">
          <form class="isotope-toolbar">
            <label><input type="radio" data-type="*" checked="" name="isotope-filter"/><span>Todos</span></label>
            <label><input type="radio" data-type="eventos" name="isotope-filter"/><span>Eventos</span></label>
            <label><input type="radio" data-type="campeonatos" name="isotope-filter" /><span>Campeonatos</span></label>
          </form>



          <div class="isotope-box">

            {% include results/eventos/ptsims-4h-silverstone-2020.html %}
            {% include results/eventos/ptsims-elkhart-showcase-2020.html %}
            {% include results/campeonatos/ptsims-rmhs2020.html %}
            {% include results/campeonatos/ptsims-rem2020.html %}
            {% include results/campeonatos/ptsims-gt3c2020.html %}
            {% include results/eventos/ptsims-aniversarioPTSims-2020.html %}
            {% include results/eventos/ptsims-dtmgrc-vintage-2020.html %}
            {% include results/campeonatos/ptsims-fs2020.html %}

          </div>


        </div>
      </div>
    </div>
  </section>